site_name: "Djblackberry64 Curriculum"
site_url: "https://username.github.io/djblackberry64-curriculum/"
use_directory_urls: true

theme:
  name: material
  palette:
    # Palette toggle for light mode
    - scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
extra:
  alternate:
    - name: English
      link: ""
      lang: en
    - name: Deutsch
      link: "de"
      lang: de
plugins:
  - search
  - awesome-pages
  - i18n:
      docs_structure: folder
      fallback_to_default: false
      reconfigure_material: true
      reconfigure_search: true
      languages:
        - locale: en
          default: true
          name: English
          build: true
          site_name: "Djblackberry64 Curriculum"
        - locale: de
          name: Deutsch
          build: true
          site_name: "Djblackberry64 Kurs"
          default: false

markdown_extensions:
  - pymdownx.arithmatex:
      generic: true
  - md_in_html
  # - toc:
  # permalink: true

extra_javascript:
  - docs/resources/javascripts/mathjax.js
  - https://unpkg.com/mathjax@3/es5/tex-mml-chtml.js
